<form class="search" action="/search" method="POST">
    <input type="search" name="search" placeholder="Search email...">
    <button type="submit" class="btn-search">
        <img src="/static/img/search-icon.png" alt="search-icon">
        Search
    </button>
</form>

<section id="search-page">

    <h2>Search result:</h2>

    {{#if hasSearched}}
    {{#each matches}}
    {{>searchAdPreview}}
    {{else}}
    <article class="search-page-no-result">
        <p class="search-page-no-result-message">No match found.</p>
    </article>
    {{/each}}
    {{/if}}
</section>